force-app/main/default/flows/Assechmur_DevisCreateUpdateAfterTrigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>countQuote</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_devis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assechmur_IsNew</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_devis</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <description>This flow run when a quote is created or updated and after the record is saved to the database</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>numDevis</name>
        <dataType>String</dataType>
        <expression>LEFT({!$User.FirstName},1) &amp; LEFT({!$User.LastName},1) &amp; &quot; &quot; &amp; TEXT (YEAR(TODAY())) &amp; &quot; &quot; &amp; {!$Record.Assechmur_Opportunity__r.Opportunity_Number__c} &amp; IF({!countQuote}&lt;10, &quot; - 0&quot; &amp;TEXT({!countQuote}), &quot; - &quot; &amp; TEXT({!countQuote}))</expression>
    </formulas>
    <interviewLabel>Devis-Create &amp; Update - After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Devis-Create &amp; Update - After Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_devis</name>
        <label>Get Devis</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assechmur_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assechmur_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Assechmur_Devis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Assechmur_Numerodudevis__c</field>
            <value>
                <elementReference>numDevis</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assechmur_IsNew</targetReference>
        </connector>
        <object>Assechmur_Devis__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countQuote</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
