force-app/main/default/flows/MontantDevis_VMC_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>ASS_Prix_extracteur_200_vide</name>
        <label>Prix extracteur 200 vide?</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnector>
            <targetReference>Prix_extracteur_Micro_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_PrixdeventeExtracteur200__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Prix_de_vente_extracteur</targetReference>
            </connector>
            <label>Copy 5 of oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Il_y_a_Radiateur</name>
        <label>l y a Radiateur ?</label>
        <locationX>182</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Update_devis_without_radiateur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_Prixradiateurademonter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Devis_avec_radiateur</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Il_y_a_une_marge</name>
        <label>Copy 1 of Il y a une marge?</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Devis_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_Marge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Devis_1</targetReference>
            </connector>
            <label>Copy 1 of Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Is_New</name>
        <label>Is New?</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Devis_avec_Radiateur1</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Il_y_a_une_marge</name>
        <label>Il y a une marge?</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <defaultConnector>
            <targetReference>Update_Devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_Marge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Devis_1</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Produit_AFU1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>True</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prix_AFU1_vide</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prix_AFU1_vide</name>
        <label>Prix AFU1 vide ?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Prix_AFU3_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_PrixdeventeAFU1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prix_de_vente_AFU1</targetReference>
            </connector>
            <label>Oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prix_AFU3_vide</name>
        <label>Prix AFU3 vide?</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Prix_commande_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_PrixdeventeAFU3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Prix_de_vente_AFU3</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prix_commande_vide</name>
        <label>Prix commande vide?</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Prix_extracteur_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_Prixdeventecommande__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prix_de_vente_commande</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prix_extracteur_Micro_vide</name>
        <label>Prix extracteur Micro vide?</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Il_y_a_Radiateur</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_PrixdeventeExtracteurMICRO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prix_de_vente_extracteur_Micro</targetReference>
            </connector>
            <label>Copy 6 of oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prix_extracteur_vide</name>
        <label>Prix extracteur vide?</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>ASS_Prix_extracteur_200_vide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assechmur_PrixdeventeExtracteur12V220V__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prix_de_vente_extracteur</targetReference>
            </connector>
            <label>oui</label>
        </rules>
    </decisions>
    <decisions>
        <name>VMC_ou_Traitement</name>
        <label>VMC ou Traitement</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Is_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VMC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012J6000000btaqIAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New</targetReference>
            </connector>
            <label>VMC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>MontantdevisHTVA</name>
        <dataType>Currency</dataType>
        <expression>{!Sommeprixtotallignesdedevis} + IF({!CheckboxMontant}, 150, 0) + {!$Record.Assechmur_Prixradiateurademonter__c} + {!$Record.Assechmur_PrixVMCencastrer__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>montantTotalDevisTraitement</name>
        <dataType>Currency</dataType>
        <expression>IF(
    ISBLANK({!$Record.Assechmur_Prixradiateurademonter__c}),
 {!$Record.Assechmur_MontantdevisHTVA__c},
   {!$Record.Assechmur_MontantdevisHTVA__c}+ {!$Record.Assechmur_Prixradiateurademonter__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>prixDevisTraitementAvecRadiateur</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Montant_total_devis_hors_options__c} + {!$Record.Assechmur_Prixradiateurademonter__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>prixDevisTraitementWithMarge</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Assechmur_MontantdevisHTVA__c} * (1 + {!$Record.Assechmur_Marge__c} / 100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrixTotalDevis</name>
        <dataType>Currency</dataType>
        <expression>IF(
    ISBLANK({!$Record.Assechmur_Prixradiateurademonter__c}),
    {!$Record.Assechmur_PrixtotalVMC__c},
    {!$Record.Assechmur_PrixtotalVMC__c} + {!$Record.Assechmur_Prixradiateurademonter__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>prixTotalDevisAvecMarge</name>
        <dataType>Currency</dataType>
        <expression>IF(
    ISBLANK({!$Record.Assechmur_Prixradiateurademonter__c}),
    {!$Record.Assechmur_PrixtotalVMC__c} * (1 + {!$Record.Assechmur_Marge__c}/100),
    ({!$Record.Assechmur_PrixtotalVMC__c} + {!$Record.Assechmur_Prixradiateurademonter__c}) * (1 + {!$Record.Assechmur_Marge__c}/100)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PrixTotalDevisVMCAvecRadiateur</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Assechmur_PrixtotalVMC__c} + {!$Record.Assechmur_Prixradiateurademonter__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Montant Devis VMC - Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Montant Devis VMC - Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Produit_AFU1</name>
        <label>Get Produit AFU1</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Produit_AFU3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AFU1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assechmur_Produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produit_AFU3</name>
        <label>Get Produit - AFU3</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Produit_Commande</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AFU3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assechmur_Produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produit_Commande</name>
        <label>Get Produit - Commande</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Produit_Extracteur_12V</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Commande</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assechmur_Produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produit_Extracteur_12V</name>
        <label>Get Produit - Extracteur 12V</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Produit_Micro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extracteur 12V ou 220V (ASX 100)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assechmur_Produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produit_Micro</name>
        <label>Get Produit - Micro</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Produit_Sdb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extracteur centrifuge (ASX MICRO C 100)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assechmur_Produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produit_Sdb</name>
        <label>Get Produit Sdb</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_VMC_sur_devis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extracteur SdB (ASX 200)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assechmur_Produit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Devis_1</name>
        <label>Copy 1 of Copy 1 of Update Devis 1</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>prixDevisTraitementAvecRadiateur</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Devis_1</name>
        <label>Copy 1 of Update Devis 1</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>prixDevisTraitementWithMarge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Prix_de_vente_AFU3</name>
        <label>Update Prix de vente AFU3</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Prix_commande_vide</targetReference>
        </connector>
        <inputAssignments>
            <field>Assechmur_PrixdeventeAFU3__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitAFU3__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Prix_de_vente_extracteur</name>
        <label>Copy 2 of Update Prix de vente extracteur</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Prix_extracteur_Micro_vide</targetReference>
        </connector>
        <inputAssignments>
            <field>Assechmur_PrixdeventeExtracteur200__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitExtracteur200__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Devis</name>
        <label>Update Devis</label>
        <locationX>314</locationX>
        <locationY>2747</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>PrixTotalDevis</elementReference>
            </value>
        </inputAssignments>
        <object>Assechmur_Devis__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Devis_1</name>
        <label>Update Devis 1</label>
        <locationX>50</locationX>
        <locationY>2747</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>prixTotalDevisAvecMarge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Devis_avec_radiateur</name>
        <label>Update Devis avec radiateur</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Il_y_a_une_marge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>PrixTotalDevisVMCAvecRadiateur</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Devis_avec_Radiateur1</name>
        <label>Update Devis avec Radiateur</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Copy_1_of_Il_y_a_une_marge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>prixDevisTraitementAvecRadiateur</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_devis_without_radiateur</name>
        <label>Update devis without radiateur</label>
        <locationX>314</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>Il_y_a_une_marge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assechmur_MontantdevisHTVA__c</field>
            <value>
                <elementReference>PrixTotalDevis</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prix_de_vente_AFU1</name>
        <label>Update Prix de vente AFU1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Prix_AFU3_vide</targetReference>
        </connector>
        <inputAssignments>
            <field>Assechmur_PrixdeventeAFU1__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitAFU1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prix_de_vente_commande</name>
        <label>Update Prix de vente commande</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Prix_extracteur_vide</targetReference>
        </connector>
        <inputAssignments>
            <field>Assechmur_Prixdeventecommande__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitCommande__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prix_de_vente_extracteur</name>
        <label>Update Prix de vente extracteur</label>
        <locationX>50</locationX>
        <locationY>1547</locationY>
        <connector>
            <targetReference>ASS_Prix_extracteur_200_vide</targetReference>
        </connector>
        <inputAssignments>
            <field>Assechmur_PrixdeventeExtracteur12V220V__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitExtracteur12V220V__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prix_de_vente_extracteur_Micro</name>
        <label>Update Prix de vente extracteur Micro</label>
        <locationX>50</locationX>
        <locationY>2147</locationY>
        <connector>
            <targetReference>Copy_1_of_Il_y_a_Radiateur</targetReference>
        </connector>
        <inputAssignments>
            <field>Assechmur_PrixdeventeExtracteurMICRO__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitExtracteurMICRO__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VMC_sur_devis</name>
        <label>Update VMC sur devis</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <inputAssignments>
            <field>Assechmur_PrixdeventeAFU1__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitAFU1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_PrixdeventeAFU3__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitAFU3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_PrixdeventeExtracteur12V220V__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitExtracteur12V220V__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_PrixdeventeExtracteur200__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitExtracteur200__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_PrixdeventeExtracteurMICRO__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitExtracteurMICRO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_Prixdeventecommande__c</field>
            <value>
                <elementReference>$Record.Assechmur_TarifproduitCommande__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_ProduitVMCAFU1__c</field>
            <value>
                <elementReference>Get_Produit_AFU1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_ProduitVMCAFU3__c</field>
            <value>
                <elementReference>Get_Produit_AFU3.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_ProduitVMCCommande__c</field>
            <value>
                <elementReference>Get_Produit_Commande.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_ProduitVMCExtracteur12V220V__c</field>
            <value>
                <elementReference>Get_Produit_Extracteur_12V.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_ProduitVMCExtracteur200__c</field>
            <value>
                <elementReference>Get_Produit_Sdb.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assechmur_ProduitVMCExtracteurMICRO__c</field>
            <value>
                <elementReference>Get_Produit_Micro.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VMC_ou_Traitement</targetReference>
        </connector>
        <object>Assechmur_Devis__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckboxMontant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CheckboxNombre</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sommeprixtotallignesdedevis</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
